* {
    padding: 0;
    margin: 0;
}

body {
    color: #101820;
    background-color: #FEE715;
    display: flex;
    flex-direction: column;
}

.page-heading {
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
}

.recipe-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-items ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    gap: 20px;
}

.recipe-items li a {
    text-decoration: none;
    color: #101820;
    border: 3px solid #ffa500;
    border-radius: 12px;
    padding: 20px;
    display: block;
}
